
        :root {
            --primary-color: royalBlue;
            --text-color:hsl(0,0%,31%);
            --bg-color: hsl(0,0,90%);
            --bg-card-color: hsl(0,0%,98%);
            --border-radius: 0.4em;
            --transition: color 0.1s, background-color 0.2s ease-in-out;
            --skills-bar-length: 0%;

        }
        
        /* Header
        --------------------------------- */
        header{
            font-family: 'Courier New', Courier, monospace;
            background: #191927;
            color: white;
            padding: 15px 30px  ; 

            display: flex; 
            justify-content: space-between; 
            align-items: center;

            
        }
        header {
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        .nav{
            display: flex;
            gap: 25px;
        }

        .nav a{
            color: #eaeaea;
            text-decoration: none;
            font-weight: bold; /*Agregando negrita al enlace*/
            transition: color 0.3s; /* Agregando transición para el cambio*/
            font-weight: 500; /* Agregando un peso de fuente más ligero */
            position: relative; /* Para posicionar el pseudo-elemento (subrayado) */
        }
        
        .nav a::after{
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: #00adb5;
            left: 0;
            bottom: -5px; /* Ajusta la distancia del subrayado */
            transition: width 0.3s; /* Transición para el efecto de subrayado */
        }

        
        .nav a:hover{
            color: #00adb5; /* Cambia el color del enlace al pasar el mouse */
        }
        .nav a:hover::after{
            width: 100%; /* Expande el subrayado al pasar el mouse */
        }

        .nav a:active{
            transform: scale(0.95) /* Agrega un efecto de clic al hacer clic en el enlace */;
            color: red; /* Cambia el color del enlace al hacer clic */
        }
        /*--------------------------------
        -----------------------------------------
        ----------------------------------*/

        /*-----------------------------------------
        Body
        -----------------------------------------*/

        /* Estilos para organizar los elementos en columnas */

        .column{
            display: grid; /* Cambia a grid para organizar los elementos en filas y columnas */
            gap: 0.5em; /* Espacio entre los elementos */   
        }

        @media screen and (min-width: 700px) { /* Estilos para pantallas grandes */
            .column--right {
                grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
                grid-template-rows: repeat(3,min-content);
            }
        }

        .skills{
            padding: 1em 0; /* Espacio entre las habilidades */
        }

        .skills__item{
            display: flex; /* Cambia a flex para organizar los elementos en una fila */
            align-items: center; /* Alinea verticalmente los elementos */
            justify-content: space-between; /* Espacio entre los elementos */
        }

        .skills__bar, .skills__bar::after{
            position: relative; /*Posicion */
            width: 175px; /* Ancho de la barra de habilidades */
            height: 8px; /* Altura de la barra de habilidades */
            background-color: #420404; /* Color de fondo de la barra de habilidades */
            border-radius: var(--border-radius); /* Radio de las esquinas redondeadas */
            overflow: hidden;
        }

        .skills__bar::after{
            content: ""; /* Contenido vacío para crear la barra de progreso */
            position: absolute; /* Posiciona la barra de progreso de forma absoluta */
            left: -175px; 
            background-color: var(--primary-color); 
            transition: var(--transition);
            animation: skills-bar-fill 2s ease-in-out forwards;
        }

        .skills__bar--10::after{
            --skills-bar-length:10%
        }
        .skills__bar--20::after{
            --skills-bar-length:20%
        }
        .skills__bar--30::after{
            --skills-bar-length:30%
        }
        .skills__bar--40::after{
            --skills-bar-length:40%
        }
        .skills__bar--50::after{
            --skills-bar-length:50%
        }
        .skills__bar--60::after{
            --skills-bar-length:60%
        }
        .skills__bar--70::after{
            --skills-bar-length:70%
        }
        .skills__bar--80::after{
            --skills-bar-length:80%
        }
        .skills__bar--90::after{
            --skills-bar-length:90%
        }


        @keyframes skills-bar-fill {
            to{
                transform: translateX(var(--skills-bar-length))
            }
            
        }

        
        h5{
            color: rgb(4, 134, 4);
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.04em;
        }
        .comandos{
            border: 2px solid rgb(0, 90, 27);
            padding: 12px;
            margin: 10px 0;
            border-radius: 10px;
            background-color: rgb(136, 255, 136);
            color:rgb(85, 0, 74)
        }

        #hero,
        #habilidades,
        #cursos,
        #contacto,
        #preguntas-frecuentes,
        #aprendizajes {
            scroll-margin-top: 120px; /* Ajusta este valor según la altura de tu header */
        }

        

        body{
            background: #c6cee2;
            margin: 0;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }



        #show{
            background: blueviolet;
            color: white;
            border: 5px solid rgb(26, 15, 15);
        }
        button,
        input,
        select,
        textarea {
        font-family: inherit;
        font-size: 100%;
        }

      